/* 新拟态设计 */
:root {
  --nue-1: #ecf0f3; /* 新拟态浅色（凸起的高光） */
  --nue-2: #d1d9e6; /* 新拟态深色（凸起的阴影） */
  --white: #f9f9f9; /* 暖白色（背景色） */
  --gray: #a0a5a8; /* 中灰色文字 */
  --black: #181818; /* 深黑色主要文字 */
  --purple: #4b70e2; /* 紫色主题色 */
  --transition: 0.25s; /* 动画过渡效果时间 */
}
* {
  user-select: none; /* 禁止用户选择文本，提升体验 */
}

/* 登录容器 */
.login-container {
  width: 100%;
  min-height: 100vh; /* 最小高度为视口高度（整个屏幕） */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  background-color: var(--nue-1);
  color: var(--black);
}

/* 登录卡片 */
.login-card {
  min-height: 100dvh;
  width: 100%;
  max-width: 420px;
  min-height: 500px;
  padding: 40px 35px;
  background-color: var(--nue-1);
  /* 新拟态阴影效果,向右下深阴影，左上浅投影 */
  box-shadow: 10px 10px 10px var(--nue-2), -10px -10px 10px var(--white);
  border-radius: 20px;
  overflow: hidden;
}

/* 卡片头部 */
.login-header {
  text-align: center;
  margin-bottom: 40px; /* 底部外边距 */
}
.login-header h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 3;
  color: var(--black);
}
.login-header h1::first-letter {
  text-transform: uppercase; /* 首字母大写 */
}
.login-header p {
  font-size: 14px;
  letter-spacing: 0.25px; /* 字母间距 */
  text-align: center;
  line-height: 1.6;
  color: var(--gray);
}

/* 表单布局 */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 垂直布局 */
  width: 100%;
}

/* 输入框组 */
.input-group {
  position: relative;
  width: 100%;
  margin: 8px 0;
}
.input-icon {
  position: absolute;
  left: 15px;
  top: 50%; /* 垂直居中 */
  transform: translateY(-50%);
  color: var(--gary);
  opacity: 0.5;
  font-size: 16px;
  z-index: 2;
  transition: var(--transition); /* 过渡动画 */
}
.input-group:focus-within .input-icon {
  /* 输入框内点击或聚焦时：图标变为紫色、完全不透明 */
  opacity: 1;
  color: var(--purple);
}

/* 输入框 */
.input-group input {
  width: 100%;
  height: 45px;
  padding-left: 45px; /* 左侧内边距,给图标留空间*/
  padding-right: 45px;/* 左侧内边距，给眼睛留空间*/
  font-size: 13px;
  letter-spacing:.15px; /* 字母间距 */
  border: none; /* 去除默认的边框 */
  outline: none;  /* 去除默认的聚焦边框 */
  font-family: 'Montserrat', sans-serif;
  background-color: var(--nue-1);
  transition: var(--transition);
  border-radius: 8px;
  box-shadow: 
  inset 2px 2px 4px var(--nue-2),  /* 内阴影，向右下深阴影 */
  inset -2px -2px 4px var(--white);  /* 内阴影，向左上浅阴影 */
  color: var(--black);
}
.input-group input:focus {
    box-shadow: 
    inset 5px 5px 5px var(--nue-2), /* 聚焦时阴影更深 */
    inset -5px -5px 5px var(--white); /* 聚焦时高光更亮 */
}
.input-group input::placeholder {
    color: var(--gray); /* 提示文字颜色 */
    opacity:  0.7;
}
.input-group input:disabled {
    opacity: 0.6;  /* 禁用时文字变淡 */
    cursor: not-allowed; /* 禁用时鼠标变为禁止符号 */
}

/* 密码显示切换按钮 */
.password-toggle {
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}